body {
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
}

.container {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  margin: 50px auto;
  width: 600px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;
}

select, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c9a7;
  color: white;
  cursor: pointer;
  padding: 30px;
  font-size: 30px;
}

.bar-container {
  width: 100%;
  height: 20px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  margin-top: 20px;
}

#bar {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  transition: 1s;
}

#resultat {
  font-size: 30px;
  margin-top: 10px;
}

#conseil {
  margin-top: 10px;
  font-size: 25px;
  opacity: 0.8;
}

.ligne {
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px auto;
}

.container1 {
  background: rgba(255,255,255,0.1);
  margin: 10px auto;
  width: 600px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}
